<h3>Add Todo</h3>
<form class="my-4" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Title">Todo Title</label>
    <input
      type="text"
      [(ngModel)]="title"
      class="form-control"
      id="title"
      name="title"
      aria-describedby="emailHelp"
      placeholder="Todo Title"
    />
  </div>
  <div class="form-group">
    <label for="description">Todo description</label>
    <input
      type="text"
      [(ngModel)]="desc"
      name="desc"
      class="form-control"
      id="desc"
      placeholder="description"
    />
  </div>

  <button type="submit" class="btn btn-primary mt-4">Add Todo</button>
</form>
